body {
    color: rgb(255, 255, 255);
    margin: 0;
}

.switch {
    position: absolute;
    left: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
}

.switch i {
    display: inline-block;
    position: relative;
    top: -9px;
}

label {
    font-size: 13px;
    color: #424242;
    font-weight: 500;
}

.label1 {
    display: inline-block;
    margin: 0px;
    position: relative;
}

.label1>.label2 {
    margin: 0px;
    width: 140px;
    height: 30px;
    background: #0a6f1e;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
}

.label1>.alert {
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
}

.label1 input[type="checkbox"] {
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.label1 input[type="checkbox"]:checked+label.label2 {
    background: #151515;
    color: #fff;
}

.label1 input[type="checkbox"]:checked+label.label2:after {
    content: attr(data-on);
    left: 68px;
    background: #3c3c3c;
}

.label1 input[type="checkbox"]:checked+label.label2:before {
    content: attr(data-off);
    right: auto;
    left: 20px;
}

.label1 input[type="checkbox"]:checked~.alert {
    display: block;
}
nav {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 77px;
}

nav a {
    text-align: center;
    border: 2px solid rgb(0, 77, 5);
}


li {
    list-style-type: none;
    display: inline-block;
    background-color: rgb(0, 77, 5);
    padding: 16px; 
    color: white;
    align-items: center;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}



#loginli{
    margin-top: 10px;
    list-style-type: none;
    display: inline-block;
    background-color: rgb(0, 77, 5);
    padding: 5px;
    color: white;
    align-items: center;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#inc {
    border: 2px solid rgb(12, 197, 12);
}

.log {
    position: absolute;
    width: 200px;
    height: 75px;
    right: 0;
    background-color: rgb(0, 77, 5);
    text-align: center;
    justify-content: center;
}
.log:hover{
     border: 2px solid rgb(12, 197, 12);
}
.active {
    background-color: #ffffff;
}

.bloque1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historiaTexto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-size: larger;
}

.caja1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: black;
}

.foto1 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.imgContainer {
    position: relative;
}

.inic {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    font-size: 100px;
}

.flex-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/191/774/454/lawn-grass-green-thick-wallpaper-preview.jpg");
}

thead {
    background-color: rgb(38, 38, 165);
}

th {
    padding: 7px 9px;
    font-weight: 70;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Encode Sans Condensed';
    border: 1px solid rgb(161, 214, 255);
    padding: 8px;
    color: white;
}

td {
    padding: 9px;
    border-bottom: solid 1px rgb(79, 79, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Encode Sans Condensed';
    border: 1px solid rgb(161, 214, 255);
    padding: 8px;
    color: white;

}

thead {
    border-collapse: collapse;
    background: rgb(26, 45, 64);
}

tbody {
    border-collapse: collapse;
    background: rgb(26, 45, 64);
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: rgb(104, 180, 255);
}

.redes {
    width: 40px;
    height: 40px;
}

.patrocinadores {
    width: 150px;
    height: 150px;
}



.tel {
    background-color: black;
    color: white;
    padding: 10px;
}

.patro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ptr {
    text-align: center;
    font-size: 30px;
    background-color: black;

}

#cosas {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: black;
    padding: 10px;
}

#cosas img {
    height: 50px;
    width: 50px;
}

footer {
    background-image: url(https://st4.depositphotos.com/1500568/40371/i/600/depositphotos_403717764-stock-photo-3d-square-blocks-pattern-high.jpg);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 380px;

}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

address {
    width: 380px;
    background-color: black;
    color: white;
    padding: 10px;
}

#foto3 {
    margin-top: 10px;
    height: 210px;
    width: 90px;
}

/*--------------------*/
.dropbtn {
    color: #fff;
    background-color:  rgb(0, 77, 5);
    padding: 17px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  .dropdown {
    position: absolute;
    right: 0;
    display: inline-block;
    margin-right: 20px;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgb(0, 77, 5);
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #2a670c;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    border: 2px solid rgb(12, 197, 12);
  }

  ::-webkit-scrollbar {
    width: 16px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(231, 224, 224);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #105508;
    border-radius: 7px;
  }
  
  ::-webkit-scrollbar-button:start {
    background-image: url('../Imagenes/flechaArriba.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  ::-webkit-scrollbar-button:end {
    background-image: url('../Imagenes/flechaAbajo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
@media screen and (max-width:940px) {

    /*@media para adaptar a la pantalla*/
    body {
        flex-wrap: wrap;
    }

    main {
        width: 100vw;
    }

    header img[src="https://madridfutbol7.es/wp-content/uploads/2022/08/Tates-FC-Madridfutbol7.jpg"] {
        display: none;
    }

    .historiaTexto {

        font-size: medium;
    }

    .flex-container {
        /*al ser una tabla queremos que no sobresalga ni se corte, por lo que utilizamos una fuente de letra más pequeña que se adapte a la pantalla*/
        font-size: xx-small;
    }

    .caja1 {
        text-align: center;
        font-size: auto;
    }

}